
service:
  type: ClusterIP
  port: 8080
  internalPort: 8080
database:
  user: postgres
  password: root
  host: postgres
  name: confeitariadb
image:
  repository: ""
  tag: ""
  pullPolicy: IfNotPresent
resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

migration:
  enabled: true
  # Se vazio, o Job usará a imagem principal (.Values.image.repository:.Values.image.tag)
  image:
    repository: ""
    tag: ""
    pullPolicy: IfNotPresent
  # comando padrão que executa apenas as migrations; ajuste conforme sua imagem
  command:
    - "sh"
    - "-c"
    - |-
      java -jar /app/app.jar --spring.flyway.enabled=true --spring.main.web-application-type=none
  backoffLimit: 4
  activeDeadlineSeconds: 600
