replicaCount: 1

image:
  repository: meu-registro/confeitaria-backend-devops
  pullPolicy: IfNotPresent
  tag: "latest"

database:
  host: "localhost"
  name: "confeitaria_db"
  user: ""
  password: ""

service:
  type: ClusterIP
  port: 80          
  internalPort: 8080