version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: ./infra/dockers/Dockerfile.dev

    ports:
      - "8080:8080"

    volumes:
      - .:/app
      - ~/.m2:/root/.m2

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/confeitariadb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root

    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15-alpine

    environment:
      POSTGRES_DB: confeitariadb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

    ports:
      - "5432:5432"

    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
