replicaCount: 1

image:
  repository: "igorbatistadev/confeitaria"
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  internalPort: 8080

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

migration:
  enabled: false
  backoffLimit: 4
  image:
    repository: ""
    tag: ""
  command: ["./migrate.sh"]

database:
  host: ""
  port: 5432
  name: ""
  user: ""
  password: ""
  createSecret: true
  secretName: ""
